<div class="contents">
  <a href="">
    <h1 class = "text-center" id="mypage-header"><%=  current_user.username %> <span>さんのマイページ</span></h1>
  </a>
  <hr>
  <div class="mydata-wrapper">
    <h1 class="text-center">あなたの好み（評価の平均）</h1>
    <div class="mydata-box">
      <table class="three-mydata">
        <tr><th>雰囲気</th><td><%= @user.reviews_average(:mood) %></td></tr>
        <tr><th>料理</th><td><%= @user.reviews_average(:food) %></td></tr>
        <tr><th>サービス</th><td><%= @user.reviews_average(:service) %></td></tr>
      </table>
    </div>
  </div>
  <hr>
  <div class="result-wrapper">
  <h1 class="text-center">全てのレビュー</h1>
  <%  current_user.reviews.each do |review| %>
    <li>
      <a href="/restaurants/<%= review.restaurant.id %>">
      <div class="profile-box"><h2 class="profile-title"><%= review.restaurant.name %></h2></a>
        <div class="profile-detail clearfix">
          <a href="/restaurants/<%= review.restaurant.id %>"><img class="thumbnail" src= <%= review.restaurant.image_url %> alt=<%= review.restaurant.name %> onerror="this.src='/assets/Noimage.jpg';" /></a>
          <div class="reviews-box">
            <table class="profile-reviews">
              <tr><th>雰囲気</th><td><%= review.mood.to_f / 10 %></td></tr>
              <tr><th>料理</th><td><%= review.food.to_f / 10 %></td></tr>
              <tr><th>サービス</th><td><%= review.service.to_f / 10 %></td></tr>
            </table>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</div>


