<!DOCTYPE html>
<html>
  <head>
    <title>Buffet</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <style type="text/css">

  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }

  circle.back-cir{
    fill: #FF967A;
    stroke: #FF967A;
    stroke-width: 40;
  }
  </style>
  </head>
  <body>
    <header>
      <div class = "header-wrapper crearfix">
        <div class = "logo-box clearfix">
          <a href="/" class = "header-logo">ビュッフェ</a>
          <div class = header-sub>あなただけの美味しいを見つけるサービス</div>
        </div>
        <% if user_signed_in? %>
        <div class="mypage-box">
          <div>
            <span>
              <%= current_user.username %></span>さん
              <a href="/users/<%= current_user.id %>" >マイページ</a> /
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
          <a class="post" href="/restaurants/new">お店の投稿</a>
        </div>
        <% else %>
          <div class="login-box">
            <%= link_to "ログイン", new_user_session_path, :class => 'post login' %>
            <%= link_to "新規登録", new_user_registration_path, :class => 'post sign-up' %>
          </div>
        <% end %>
      </div>
    </header>

  <%= yield %>

  <footer>
    <p>Copyright 2018 ビュッフェ<p>
  </footer>

  </body>
</html>
